**/*.so
**/__pycache__
**/*.pyc
**/*.pyxbldc
build/
dist/
cython_debug/
.cache/
doc/
MANIFEST
pycvodes/_cvodes.cpp
.coverage
htmlcov/
**/.ipynb_checkpoints/
**.egg-info/
tests/catch.hpp
tests/test_cvodes_anyode
tests/test_cvodes_cxx
tests/test_sundials_cxx
tests/test_cvodes_anyode_parallel
tests/_cvodes_anyode.cpp
tests/test_cvodes_anyode_autostart
