graft external/anyode/include
graft external/anyode/cython_def
include external/anyode/LICENSE
recursive-include */include *.hpp *.pxd
include AUTHORS
include CHANGES.rst
include LICENSE
include README.rst
